@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pie-de-pagina {
  background-color: rgba(152, 93, 65, 0.368627451);
  padding: 45px 0px;
  font-family: "Nunito", sans-serif;
}
.pie-de-pagina .box {
  text-align: end;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-family: "Nunito", sans-serif;
}
header section h1 {
  font-size: 1.25rem;
  padding: 0px 3.75rem;
}
header .titulo {
  list-style: none;
  text-decoration: none;
  color: black;
}

.linea {
  border-top: 1px solid black;
  height: 2px;
  margin: 20px auto 0 auto;
}

html {
  background-color: antiquewhite;
}

.grid-matero article {
  padding: 0rem 0px 30rem;
  width: 100%;
  height: 56.25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 450px);
  grid-template-areas: "h i" ". i" "p i";
}
.grid-matero article .grid-matero-h2 {
  grid-area: h;
  padding: 4.375rem;
  font-size: 3.75rem;
  font-family: "Nunito", sans-serif;
}
.grid-matero article .grid-matero-img {
  grid-area: i;
}
.grid-matero article .grid-matero-parrafo {
  padding: 5rem;
  font-size: 25px;
  grid-area: p;
}
.grid-matero article .grid-matero-parrafo a {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  color: #985c41;
}

.grid-matero-img img {
  padding: 80px;
  width: 50rem;
  object-fit: contain;
}

.scale-up-left {
  -webkit-animation: scale-up-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-left {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
}
@keyframes scale-up-left {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
}
.titulo-destacado {
  padding: 30rem 80px 8rem;
  width: 100%;
  font-size: 60px;
  font-family: "Nunito", sans-serif;
}

.productos-destacados {
  display: flex;
  justify-content: center;
  gap: 3.75rem;
}
.productos-destacados .articulo-matero img {
  width: 18.75rem;
}
.productos-destacados .articulo-infantil img {
  width: 18.75rem;
}
.productos-destacados .articulo-matero p {
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.productos-destacados .articulo-infantil p {
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.productos-destacados .articulo-matero:hover {
  transform: translateY(-1rem);
}
.productos-destacados .articulo-infantil:hover {
  transform: translateY(-1rem);
}

section a {
  color: black;
  list-style: none;
  text-decoration: none;
  font-size: 30px;
}

.contactos-redes {
  width: 100%;
  height: 100vh;
  padding: 6.25rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.875rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: scale-up-center 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.nosotros {
  text-align: center;
  width: 100%;
  height: 100vh;
  font-size: 30px;
  font-family: "Nunito", sans-serif;
}
.nosotros .navbarnosotros {
  display: contents;
  justify-content: center;
  font-size: 25px;
}

.scale-up-ver-center {
  -webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-ver-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
.container-ofertas-matero img {
  width: 18.75rem;
}

.container-ofertas-matero {
  height: 100vh;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.contenedor-productos {
  padding: 200px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.contenedor-productos .producto-matero img {
  width: 18.75rem;
  object-fit: contain;
}
.contenedor-productos .producto-infantil img {
  width: 18.75rem;
  object-fit: contain;
}
.contenedor-productos .producto-matero-amargo img {
  width: 18.75rem;
  object-fit: contain;
}
.contenedor-productos .producto-matero {
  text-align: center;
}
.contenedor-productos .producto-infantil {
  text-align: center;
}
.contenedor-productos .producto-matero-amargo {
  text-align: center;
}
.contenedor-productos .producto-matero:hover {
  transform: translateY(-1rem);
}
.contenedor-productos .producto-infantil:hover {
  transform: translateY(-1rem);
}
.contenedor-productos .producto-matero-amargo:hover {
  transform: translateY(-1rem);
}

.navbar {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: none;
  align-items: none;
  gap: none;
  list-style: none;
}
.navbar li a {
  color: black;
  text-decoration: none;
  margin: 50px;
}

@media (max-width: 1226px) {
  .grid-matero-img img {
    padding: 80px;
    width: 35rem;
    object-fit: contain;
  }
  .grid-matero article {
    grid-template-areas: "h i" "p i" ". i";
  }
  .grid-matero-parrafo {
    padding: none;
  }
}
@media (max-width: 1231px) {
  /* modificacion en header */
  section h1 {
    font-size: 15px;
  }
  .navbar li a {
    margin: 30px;
  }
  /* modificacion en main contactos */
  section a {
    font-size: 20px;
  }
  section p {
    font-size: 20px;
  }
}
@media (max-width: 1100px) {
  .contenedor-productos .producto-matero img {
    width: 12rem;
  }
  .contenedor-productos .producto-infantil img {
    width: 12rem;
  }
  .contenedor-productos .producto-matero-amargo img {
    width: 12rem;
  }
  .contenedor-productos .producto-matero p {
    font-size: 12px;
  }
  .contenedor-productos .producto-infantil p {
    font-size: 12px;
  }
  .contenedor-productos .producto-matero-amargo p {
    font-size: 12px;
  }
}
@media (max-width: 986px) {
  .grid-matero-img img {
    width: 30rem;
  }
}
@media (max-width: 919px) {
  /* modificacion en header */
  .navbar li a {
    margin: 20px;
  }
  /* modificaciones en footer */
  .box {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
  }
}
@media (max-width: 908px) {
  .grid-matero article .grid-matero-h2 {
    font-size: 2rem;
  }
  .grid-matero-img img {
    width: 25rem;
  }
  .titulo-destacado {
    width: 100%;
    font-size: 40px;
  }
  .productos-destacados .articulo-matero img {
    width: 14rem;
  }
  .productos-destacados .articulo-infantil img {
    width: 14rem;
  }
}
@media (max-width: 802px) {
  .contenedor-productos .producto-matero img {
    width: 10rem;
  }
  .contenedor-productos .producto-infantil img {
    width: 10rem;
  }
  .contenedor-productos .producto-matero-amargo img {
    width: 10rem;
  }
}
@media (max-width: 790px) {
  /* modificacion en header */
  .navbar li a {
    margin: 10px;
    font-size: 13px;
  }
  /* modificaciones en informacion */
  .navbarnosotros {
    font-size: 20px;
  }
  .contenedor-productos .producto-matero img {
    width: 8rem;
  }
  .contenedor-productos .producto-infantil img {
    width: 8rem;
  }
  .contenedor-productos .producto-matero-amargo img {
    width: 8rem;
  }
  .grid-matero article {
    display: contents;
    text-align: center;
  }
  .titulo-destacado {
    font-size: 30px;
  }
  .productos-destacados {
    display: contents;
    text-align: center;
  }
  .productos-destacados .articulo-matero img {
    width: 13rem;
  }
  .productos-destacados .articulo-infantil img {
    width: 13rem;
  }
}
@media (max-width: 610px) {
  .container-ofertas img {
    width: 15rem;
  }
  .contenedor-productos {
    display: contents;
    padding: 0;
  }
  .pie-de-pagina {
    height: 5rem;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .box {
    justify-content: center;
  }
  .navbar {
    gap: 0.5rem;
  }
  .navbar li a {
    margin: 0;
    font-size: 10px;
  }
  .titulo h1 {
    padding: 0;
  }
  .grid-matero-img img {
    padding: 0;
    width: 10rem;
  }
  .grid-matero article .grid-matero-h2 {
    font-size: 1rem;
  }
  .titulo-destacado h3 {
    font-size: 20px;
  }
  .productos-destacados .articulo-matero img {
    width: 10rem;
  }
  .productos-destacados .articulo-infantil img {
    width: 10rem;
  }
  .nosotros {
    font-size: 25px;
  }
  .navbarnosotros {
    font-size: 20px;
  }
  .box p {
    font-size: 10px;
  }
}
@media (max-width: 597px) {
  .nosotros {
    font-size: 25px;
  }
  .navbarnosotros {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
