@media (max-width:1100px){
    .contenedor-productos{
        .producto-matero img {
            width: 12rem;
        }
        .producto-infantil img {
            width: 12rem;
        }
        .producto-matero-amargo img {
            width: 12rem;
        }
        .producto-matero p{
            font-size: 12px;
        }
        .producto-infantil p{
            font-size: 12px;
        }
        .producto-matero-amargo p{
            font-size: 12px;
        }
    }
}