@media (max-width:802px){
    .contenedor-productos{
        .producto-matero img {
            width: 10rem;
        }
        .producto-infantil img {
            width: 10rem;
        }
        .producto-matero-amargo img {
            width: 10rem;
        }
    }
}