@media (max-width:790px) {
    /* modificacion en header */
    .navbar li a {
        margin: 10px;
        font-size: 13px;
    }
    /* modificaciones en informacion */
    .navbarnosotros {
        font-size: 20px;
    }
    .contenedor-productos{
        .producto-matero img {
            width: 8rem;
        }
        .producto-infantil img {
            width: 8rem;
        }
        .producto-matero-amargo img {
            width: 8rem;
        }
    }
    .grid-matero article {
        display: contents;
        text-align: center;
    }

    .titulo-destacado {
        font-size: 30px;
        }
    .productos-destacados{
        display: contents;
        text-align: center;
        .articulo-matero img {
            width: 13rem;
        }
        .articulo-infantil img {
            width: 13rem;
        }
    }
}
