@media (max-width:790px) {
    /* modificacion en header */
    .navbar li a {
        margin: 10px;
        font-size: 13px;
    }
    /* modificaciones en informacion */
    .navbarnosotros {
        font-size: 20px;
    }
}
