/* /* @media (max-width:604px) {
    .pie-de-pagina {
        width: 604px;
    }

    .box p{
        font-size: 10px;
    }

    .linea {
        width: 604px;
    }

    .nosotros {
        text-align: start;
    }
}  */