@media (max-width:1231px){

    /* modificacion en header */
    section h1 {
        font-size: 15px;
    }

    .navbar li a {
        margin: 30px;
    }

    /* modificacion en main contactos */

    section a {
        font-size: 20px;
    }

    section p {
        font-size: 20px;
    }
}
