.pie-de-pagina {
    width: 100%;
    background-color: map-get($coloresprincipales, color-pie);
    padding: 45px 0px;
    font-family: "Nunito", sans-serif;
    .box {
        text-align: end;
    }
}