header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-family: "Nunito", sans-serif;
    section h1 {
        font-size: 1.25rem;
        padding: 0px 3.75rem;
    }
    .titulo {
        list-style: none;
        text-decoration: none;
        color: $color-letras;
    }
}

.linea {
    border-top: 1px solid black;
    height: 2px;
    margin: 20px auto 0 auto;
} 

