.nosotros{
    text-align: center;
    width: 100%;
    height: 100vh;
    font-size: 30px;
    font-family: "Nunito", sans-serif;
    .navbarnosotros {
        display: contents;
        justify-content: center;
        font-size: 25px;
    }
}