section a {
    color: black;
    list-style: none;
    text-decoration: none;
    font-size: 30px;
}

.contactos-redes {
    width: 100%;
    height: 100vh;
    padding: 6.25rem;
    font-family: "Nunito", sans-serif;
    font-size: 1.875rem;
}