.contenedor-productos {
    padding: 200px;
    display: flex;
    justify-content: center;
    gap: 100px;
    .producto-matero img {
        width: 18.75rem;
        object-fit: contain;
    }
    .producto-infantil img {
        width: 18.75rem;
        object-fit: contain;
    }
    .producto-matero-amargo img {
        width: 18.75rem;
        object-fit: contain;
    }
    .producto-matero {
        text-align: center;
    }
    .producto-infantil {
        text-align: center;
    }
    .producto-matero-amargo {
        text-align: center;
    }
    .producto-matero:hover{
        transform: translateY(-1rem);
    }
    .producto-infantil:hover{
        transform: translateY(-1rem);
    }
    .producto-matero-amargo:hover{
        transform: translateY(-1rem);
    }
}